# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# uploads
/uploads/

# Azure
mechcopilot/.next/
mechcopilot/node_modules/
mechcopilot/.env.local
mechcopilot/.pnp
mechcopilot/.pnp.js
mechcopilot/.yarn/install-state.gz
mechcopilot/coverage
mechcopilot/build
mechcopilot/.DS_Store
mechcopilot/*.pem
mechcopilot/npm-debug.log*
mechcopilot/yarn-debug.log*
mechcopilot/yarn-error.log*
mechcopilot/.vercel
mechcopilot/*.tsbuildinfo